<div class="container">
    <div>
        <button type="button" class="btn btn-info">Nuevo Alumno</button>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table color-table info-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Carrera</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos" (click)="updateAlumno(alumno.idAlumno)">
                    <th scope="row">{{alumno.idAlumno}}</th>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.edad}}</td>
                    <td>{{alumno.sexo}}</td>
                    <td>{{alumno.semestre}}</td>
                    <td>{{alumno.carrera}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>