<div class="container">
    <div>
        <button routerLink="/dashboard/adddocente" type="button" class="btn btn-info">Nuevo Docente</button>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table color-table info-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of docentes" (click)="updateDocente(docente.idDocente)">
                    <th scope="row">{{docente.idDocente}}</th>
                    <td>{{docente.nombre}}</td>
                    <td>{{docente.edad}}</td>
                    <td>{{docente.titulo}}</td>
                    <td>{{docente.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>