<div class="login-box card">
    <div class="card-body">
        <form (ngSubmit)="actualizarAlumno()" [formGroup]="alumnoupdateForm">
            <div class="form-body">
                <h3 class="card-title">Informacion Alumno</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input class="form-control" type="text" formControlName="nombre">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Edad</label>
                            <input class="form-control" type="number" formControlName="edad">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Sexo</label>
                            <select class="form-control custom-select" formControlName="sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Semestre</label>
                            <select class="form-control custom-select" formControlName="semestre">
                                <option value=1>Primero</option>
                                <option value=2>Segundo</option>
                                <option value=3>Tercero</option>
                                <option value=4>Cuarto</option>
                                <option value=5>Quinto</option>
                                <option value=6>Sexto</option>
                                <option value=7>Septimo</option>
                                <option value=8>Octavo</option>
                                <option value=9>Noveno</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Carrera</label>
                        <select class="form-control custom-select" formControlName="carrera">
                                <option value="INFO">INFORMATICA</option>
                                <option value="INDU">INDUSTRIAL</option>
                                <option value="BIOQ">BIOQUIMICA</option>
                                <option value="GEST">GESTION EMPRESARIAL</option>
                            </select>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="col text-danger">
                <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                <p *ngIf="campoNoValido('edad')">La edad es obligatoria</p>
                <p *ngIf="campoNoValido('sexo')">El sexo es obligatorio</p>
                <p *ngIf="campoNoValido('semestre')">El semestre es obligatorio</p>
                <p *ngIf="campoNoValido('carrera')">La carrera es obligatoria</p>
            </div>
            <hr>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-inverse" routerLink="/dashboard/alumnos" style="margin-left: 1em;">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="borrarAlumno()" style="margin-left: 10em;">Delete</button>
            </div>
        </form>
    </div>
</div>