<div class="login-box card">
    <div class="card-body">
        <form (ngSubmit)="actualizarAlumno()" [formGroup]="alumnoupdateForm">
            <div class="form-body">
                <h3 class="card-title">Student Information</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="form-control" type="text" formControlName="nombre">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Age</label>
                            <input class="form-control" type="number" formControlName="edad">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select class="form-control custom-select" formControlName="sexo">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Semester</label>
                            <select class="form-control custom-select" formControlName="semestre">
                                <option value=1>First</option>
                                <option value=2>Second</option>
                                <option value=3>Third</option>
                                <option value=4>Fourth</option>
                                <option value=5>Fifth</option>
                                <option value=6>Sixth</option>
                                <option value=7>Seventh</option>
                                <option value=8>Eighth</option>
                                <option value=9>Nineth</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Specialty</label>
                        <select class="form-control custom-select" formControlName="carrera">
                                <option value="INFO">INFORMATICA</option>
                                <option value="INDU">INDUSTRIAL</option>
                                <option value="BIOQ">BIOQUIMICA</option>
                                <option value="GEST">GESTION EMPRESARIAL</option>
                            </select>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="col text-danger">
                <p *ngIf="campoNoValido('nombre')">The name is required</p>
                <p *ngIf="campoNoValido('edad')">Age required</p>
                <p *ngIf="campoNoValido('sexo')">Gender required</p>
                <p *ngIf="campoNoValido('semestre')">The semester is required</p>
                <p *ngIf="campoNoValido('carrera')">The race is required</p>
            </div>
            <hr>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-inverse" routerLink="/dashboard/alumnos" style="margin-left: 1em;">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="borrarAlumno()" style="margin-left: 10em;">Delete</button>
            </div>
        </form>
    </div>
</div>