<div class="login-box card">
    <div class="card-body">
        <form (ngSubmit)="crearDocente()" [formGroup]="docenteaddForm">
            <div class="form-body">
                <h3 class="card-title">Information necessary for teacher registration</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="form-control" type="text" formControlName="nombre">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Age</label>
                            <input class="form-control" type="number" formControlName="edad">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input class="form-control" type="text" formControlName="titulo">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Type</label>
                            <select class="form-control custom-select" formControlName="tipo">
                                <option value="PLANTA">PLANTA</option>
                                <option value="MEDIO TIEMPO">MEDIO TIEMPO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="col text-danger">
                <p *ngIf="campoNoValido('nombre')">The name is required</p>
                <p *ngIf="campoNoValido('edad')">Age required</p>
                <p *ngIf="campoNoValido('titulo')">The title is required</p>
                <p *ngIf="campoNoValido('tipo')">The type is required</p>
            </div>
            <hr>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-inverse" routerLink="/dashboard/docentes" style="margin-left: 1em;">Cancel</button>
            </div>
        </form>
    </div>
</div>